/* 
Sitio web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Aguirre Cerda - Santiago - Chile
contacto@itred.cl
Creado, Programado y Diseñado por Itred Spa.
BPPJ
*/

/*  --------------------------------------------------------------------------------------------------------------------------- 
     ------------------------------------------------ INICIO ITred Spa fondo.css ----------------------------------------------
     ----------------------------------------------------------------------------------------------------------------------- */

/* ------------------------
     -- INICIO CONEXION BD --
     ------------------------ */

        /*vacio*/

/* ------------------------
     -- TERMINO CONEXION BD --
     ------------------------ */
/* ===================== FONDO ===================== */
body {  /* Establece el fondo de la página */
    background: #fafafa; /* Color de fondo claro */
    font-family: Arial, sans-serif; /* Fuente por defecto */
}

/* ===================== COLOR FONDO ===================== */
.fondo-editor input[type="color"] { /* Estilo para el selector de color */
    margin: 10px 0; /* Margen superior e inferior */
}

/* ===================== AGREGAR IMAGEN FONDO ===================== */
.fondo-editor input[type="file"] { /* Estilo para el selector de archivos */
    margin: 10px 0; /* Margen superior e inferior */
}

/*  --------------------------------------------------------------------------------------------------------------------------- 
     ------------------------------------------------ FIN ITred Spa fondo.css ------------------------------------------------
     ----------------------------------------------------------------------------------------------------------------------- */

/*
Sitio web Creado por ITred Spa.
Direccion: Guido Reni #4190
Pedro Aguirre Cerda - Santiago - Chile
contacto@itred.cl
Creado, Programado y Diseñado por Itred Spa.
BPPJ
*/